@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    
    padding-bottom: 60px;


    background: linear-gradient(200deg, #101010 0%, #1c1c1e 100%);
  font-family: sans-serif;
    min-height: 100vh;
}

h5 {
    margin-top: 3px;
    color: rgb(168, 168, 204);
    text-align: center;
}


.part {

    margin-left:30px;
    margin-right:30px;
}







.container{
    position: relative;
    display: flex;

    justify-content: center;
    align-items: center;
    max-width: 1300px;
    flex-wrap: wrap;
    z-index: 1;
}
.container .card{
    position: relative;
    width: 280px;
    
    margin: 20px;
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    background: rgba(255, 255, 255, 0.1);
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(5px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.container .card .content{
    padding: 20px;
    text-align: center;
    transform: translateY(0px);
    opacity: 1;
    transition: 0.5s;
    
}
.container .card:hover .content{
    transform: translateY(0px);
    opacity: 1;
}
.container .card .content h2{
    position: absolute;
    top: -80px;
    right: 30px;
    font-size: 8em;
    color:rgba(255, 255, 255, 0.05);
    pointer-events: none;

}
.container .card .content h3{
    font-size: 1em;
    color: #fff;
    z-index: 1;

}
.container .card .content p{
    font-size: 0.9em;
    color: #fff;
    font-weight: 300;
}
.container .card .content a{
    background: linear-gradient(135deg, #1992a1, #2c2857);

    position: relative;
    display: inline-block;
    margin-top: 16px;
    padding: 12px 24px;

    color: white;
    border-radius: 20px;
    text-decoration: none;
    font-weight: 500;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
}

.container .card .content a:hover{
    background: linear-gradient(135deg, #42abb9, #726cad);
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.3);
  transform: translateY(-2px);
}


.service{
    font-size: 1.1em;
    margin-top: 21px;
    margin-bottom: 5px;
    color: rgb(184, 222, 233);
    text-align: center;
}

h4 {

    margin-top: 24px;
    font-size: 18px;
}


.container .card .img img{
    width: 100%;
    
}